/1_INVENTARIO/nbproject/private/
/2_RESERVA_PRODUCTO/nbproject/private/
/3_RESERVA_ENTREVISTA/nbproject/private/
/4_TAREAS_EMPLEADO/nbproject/private/
/5_CUESTIONARIO/nbproject/private/
/2_RESERVA_PRODUCTO/build/
